@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

/* Light Theme */
:root {
  --bg: #ffffff;
  --text: #000000e3;
  --subtext: #0000007e;
  --primary: #f44336;
  --secondary: #e91e63;
  --highlight: #3f51b5;
  --border: #cfcece80;
  --border-button: #81818180;
}

/* Dark Theme */
.dark {
  --bg: #0a0a0a;
  --text: #ffffffdc;
  --subtext: #ffffff80;
  --primary: #673ab7;
  --secondary: #9c27b0;
  --highlight: #3f51b5;
  --border: #42424280;
  --border-button: #a3a1a180;
}

/* fonts */
.font-heading {
  font-family: "Robot Slab", sans-serif;
}

/* pre styled components  */
.shell {
  @apply w-svw;
}

.core {
  @apply max-w-340 mx-auto px-4;
}

.button-primary {
  @apply text-sm rounded-md flex bg-(--primary) duration-200 text-white font-medium overflow-hidden hover:brightness-85  active:scale-90 cursor-pointer;
}

.button-secondary {
  @apply text-sm rounded-md flex font-medium overflow-hidden duration-200 border border-(--border-button) hover:bg-(--primary) hover:text-white hover:border-(--primary) active:scale-90 cursor-pointer;
}

.dimmed-text {
  @apply text-sm text-(--subtext);
}

.input {
  @apply border border-(--border) bg-(--bg) text-sm p-3 rounded-md outline-none duration-200 focus:border-(--primary);
}
