@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

/* Light Theme */
:root {
  --bg: #ffffff;
  --text: #000000e3;
  --subtext: #0000007e;
  --primary: #f44336;
  --secondary: #e91e63;
  --highlight: #0c2ce2;
  --border: #cfcece80;
  --border-button: #81818180;
  --slider: #e9e9e9;
}

/* Dark Theme */
.dark {
  --bg: #0a0a0a;
  --text: #ffffffdc;
  --subtext: #ffffff80;
  --primary: #673ab7;
  --secondary: #9c27b0;
  --highlight: #0c2ce2;
  --border: #42424280;
  --border-button: #a3a1a180;
  --slider: #1a1a1a;
}

@layer base {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type=number] {
    @apply [appearance:textfield];
  }
}


/* html{
  font-size: 90%;
} */

/* fonts */
.font-heading {
  font-family: "Robot Slab", sans-serif;
}

h2{
  font-family: "Robot Slab", sans-serif;
}

/* pre styled components  */
.shell {
  @apply w-svw;
}

.core {
  @apply max-w-340 mx-auto px-4;
}

.button-primary {
  @apply text-sm rounded-sm flex bg-(--primary) duration-200 text-white font-medium overflow-hidden hover:brightness-80 active:scale-90 cursor-pointer;
}

.button-secondary {
  @apply text-sm rounded-sm flex font-medium overflow-hidden duration-200 border border-(--border-button) bg-(--bg) hover:bg-(--primary) hover:text-white hover:border-(--primary) active:scale-90 cursor-pointer;
}

.button-rounded{
  @apply flex justify-center  items-center rounded-full hover:text-white hover:bg-(--primary) duration-200 active:scale-90 cursor-pointer;
}

.dimmed-text {
  @apply text-sm text-(--subtext);
}

.input {
  @apply border border-(--border) bg-(--bg) text-sm p-3 rounded-sm outline-none duration-200 focus:border-(--primary);
}
